body
{
   Background-color:palevioletred;
}
button
{
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 2px solid rgb(183, 0, 255);
    border-radius: 26px;
    color: white;
    font-size: 2em;
}
button:hover
{
    background-color: yellowgreen;
    color: black;
}


